*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
app/build_REMOTE_1288.gradle
app/build_LOCAL_1288.gradle
app/build_BASE_1288.gradle
app/build_BACKUP_1288.gradle
