<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.q.cs496_app1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.gallery.ImageActivity"
            android:label="@string/title_activity_image"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".tabs.contact.ContactActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".tabs.contact.AddContactActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".tabs.contact.EditContactActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CameraActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.shuvic.alumni.cameraalbum"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera2" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />
        <!--android:maxSdkVersion="18" />-->

</manifest>